@media handheld, only screen and (max-width: 767px) {
	#contenedor_nombre{
		/*margin: 0 auto;*/
		margin-left: 20%;
		width: 80%;
		height: 60%;
	}
	.view_more{
		display: none;
	}
	#sec_three{
		margin-top: 20%;
	}
}

/*en pantallas pequeñas*/
@media handheld, only screen and (max-width: 970px) {
	#hi{
		display:none;
	}
	#about{
		height: 120vh;
	}
	#pointing{
		height: 200px;
	}
	#chat{
		height: 90px;
		margin-left: -30px;
	}
	#paper{
		align-content: center;
	  	width: 95%;
	  	padding-top: 0px;
	  	margin-top: 0px;
	}

	#about2{
		height: 220vh;
	}
	#fila_rugby{
		margin-left: 10px;
	}

	#what{
		padding-top: 60px;
	}
	#pencil{
		margin-left: 30%;
		padding:0%;
	}
	.vcenter{
		padding-top: 10px;
	}
	#three{
		height: 185vh;
	}

	#sec_experience{
		height: 330vh;
	}
	#experience{
		padding-top: 10px;
		margin-left: 10px;
	}
	#carousel1{
		margin-left: 10px;
		width: 95%;
	}
	.img_carousel{
		width: 98%;
		margin-left: 10px;
	}
	.img_carousel2{
		margin-left: 10px;
		width: 90%;
	}
	#text_experience{
		margin-left: 20px;
	}
	#text_jap{
		margin-left: 10px;
	}
	#img_jap{
		margin-left: 30px;
		margin-top: 40px;
	}

	.navbar{
		background-image: url("../img/background_nav.jpg");
	}
	li.nav-item{
		text-align: center;
	}
	#contenedor_nombre{
		height: 40%;
	}
	#contact{
		height: 120vh;
	}

}