/*@media handheld, only screen and (min-width: 970px) {
	#row1{
		margin-left: 300px;
		padding-right: 0px;

	}
	#row2{
		margin-right: 300px;
		padding-left: 0px;

	}
}
*/

@media handheld, only screen and (max-width: 767px) {
	#contenedor_nombre{
		margin: 0 auto;
		width: 80%;
		height: 60%
		background-color: rgba(67, 222, 201, 1);

	}
	.view_more{
		display: none;
	}
	#sec_three{
		margin-top: 20%;
	}
}

/*en pantallas pequeñas*/
@media handheld, only screen and (max-width: 970px) {
	#hi{
		display:none;
	}
	#about{
		height: 120vh;
	}
	#pointing{
		height: 200px;
	}
	#chat{
		height: 90px;
		margin-left: -30px;
	}
	#paper{
		align-content: center;
	  	width: 95%;
	  	padding-top: 0px;
	  	margin-top: 0px;
	}

	#about2{
		height: 220vh;
	}
	#fila_rugby{
		margin-left: 10px;
	}

	#what{
		padding-top: 20px;
	}
	#pencil{
		margin-left: 30%;
		padding:0%;
	}
	#three{
		height: 185vh;
	}

	#sec_experience{
		background-color: black;
		height: 200vh;
	}
	#experience{
		padding-top: 10px;
		margin-left: 10px;
	}
	#carousel1{
		margin-left: 2px;
		width: 95%;
	}
	.img_carousel{
		width: 98%;
	}
	.navbar{
		background-image: url("../img/background_nav.jpg");
	}
	li.nav-item{
		text-align: center;
	}
	#contenedor_nombre{
		height: 40%;
	}
}